@tailwind base;
@tailwind components;
@tailwind utilities;


.box-shadow{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.container{
    height: 100%;
    width: 100%;
    background-color: blue;
    display: flex;
}

.item{
    background-color: red;
    flex-grow: 1;
}

.row{
    display: flex;
    flex-direction: row;
}
